// Darker Grotesque
@font-face {
    font-family: 'DarkerGrotesque Black';
    src: url('Darker_Grotesque/DarkerGrotesque-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'DarkerGrotesque Bold';
    src: url('Darker_Grotesque/DarkerGrotesque-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DarkerGrotesque ExtraBold';
    src: url('Darker_Grotesque/DarkerGrotesque-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'DarkerGrotesque Light';
    src: url('Darker_Grotesque/DarkerGrotesque-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'DarkerGrotesque Medium';
    src: url('Darker_Grotesque/DarkerGrotesque-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DarkerGrotesque Regular';
    src: url('Darker_Grotesque/DarkerGrotesque-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DarkerGrotesque SemiBold';
    src: url('Darker_Grotesque/DarkerGrotesque-SemiBold.ttf') format('truetype');
}

// Montserrat
@font-face {
    font-family: 'Montserrat Black';
    src: url('Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat BlackItalic';
    src: url('Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat BoldItalic';
    src: url('Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat ExtraBoldItalic';
    src: url('Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat ExtraLight';
    src: url('Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat ExtraLightItalic';
    src: url('Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat LightItalic';
    src: url('Montserrat/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat MediumItalic';
    src: url('Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat RegularItalic';
    src: url('Montserrat/Montserrat-RegularItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat SemiBoldItalic';
    src: url('Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('Montserrat/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat ThinItalic';
    src: url('Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
}
